<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/img/logos/APLogo.png" alt="" id="logoAP">
    </div>
    <div class="redes">
      <a href=""><img src="../../../assets/img/logos/github.png" alt=""></a>
      <a href=""><img src="../../../assets/img/logos/linkedin.png" alt=""></a>
      <a href=""><img src="../../../assets/img/logos/facebook.png" alt=""></a>
      <a href=""><img src="../../../assets/img/logos/instagram.png" alt=""></a>
      <a href=""><img src="../../../assets/img/logos/twitter.png" alt=""></a>
      <button type="button" class="btn btn-outline-light">Login</button>
    </div>
  </div>
</div>

