<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/img/perfil_foto/perfil.jpg" class="img-fluid" id="foto-perfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Tomas Alejandro Bazan</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mi</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cumque nesciunt quisquam consectetur fugiat sint neque assumenda fuga in deleniti tempore, optio deserunt doloremque libero distinctio earum, blanditiis nisi exercitationem.</p>
    </span>
  </div>
</div>
