<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h3>Proyecto 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, quisquam sunt mollitia placeat doloremque dolor dolore facilis quis repudiandae asperiores officiis repellat sequi veniam architecto, itaque repellendus, tempora praesentium! Sapiente!</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/img/projects/SGD.png" alt="" class="img-fluid img-proyecto">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h3>Proyecto 2</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, quisquam sunt mollitia placeat doloremque dolor dolore facilis quis repudiandae asperiores officiis repellat sequi veniam architecto, itaque repellendus, tempora praesentium! Sapiente!</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/img/projects/PROTEXION.png" alt="" class="img-fluid img-proyecto">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h3>Proyecto 3</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, quisquam sunt mollitia placeat doloremque dolor dolore facilis quis repudiandae asperiores officiis repellat sequi veniam architecto, itaque repellendus, tempora praesentium! Sapiente!</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/img/projects/SEGUIN.png" alt="" class="img-fluid img-proyecto">
    </div>
  </div>
</div>
