<div class="row">
  <h1>Hard & Soft skill</h1>
  <div class="col-sm-4 col-md-4 col-lg-4 text-center">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/img/icons/html.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4 text-center">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [imageSrc]="'../../../assets/img/icons/CSS.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4 text-center">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/img/icons/js.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4 text-center">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/img/icons/grupal.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4 text-center">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/img/icons/eng.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
  </div>
</div>
